@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
}

/* 全局设置选中文本的样式 */
::selection {
  background-color: #F490B6;
  /* 选中文本的背景颜色 */
  color: #ffffff;
  /* 选中文本的颜色 */
}

/* 针对 Webkit 浏览器的全局设置 */
::-webkit-selection {
  background-color: #F490B6;
  color: #ffffff;
}

@layer components {
  .gray-smal-text {
    @apply text-[#999999] text-[14px]
  }

  .border-bottom-card {
    @apply border-b-[1px] border-dashed border-[#dddddd] py-[15px]
  }

  .detail-item {
    @apply gray-smal-text text-[16px]
  }

  .box-between {
    @apply flex justify-between
  }

  .bold-text {
    @apply text-[16px] font-[800]
  }

  .inline-between {
    @apply inline-flex items-center
  }
}
